In [8]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sportsreference.fb.team import Team
from sportsreference.fb.schedule import Schedule

In [18]:
#Update these yearly for Regulation
EPLClubs = {'Name':['Arsenal', 'Aston Villa', 'Brighton and Hove Albion', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leeds United', 'Leicester City', 'Liverpool', 'Manchester City', 'Manchester United', 'Newcastle United', 'Sheffield United', 'Southampton', 'Tottenham Hotspur', 'West Bromwich Albion', 'West Ham United', 'Wolverhampton Wanderers']}

In [36]:
def build_dataframe(EPLClubs):
    df = pd.DataFrame(EPLClubs, columns = ['Name','Goals Scored'])
    for row in df.index:
        df['Goals Scored'][row] = Team('Arsenal').goals_scored
    return df
build_dataframe(EPLClubs)

                        Name Goals Scored
0                    Arsenal           39
1                Aston Villa           39
2   Brighton and Hove Albion           39
3                    Burnley           39
4                    Chelsea           39
5             Crystal Palace           39
6                    Everton           39
7                     Fulham           39
8               Leeds United           39
9             Leicester City           39
10                 Liverpool           39
11           Manchester City           39
12         Manchester United           39
13          Newcastle United           39
14          Sheffield United           39
15               Southampton           39
16         Tottenham Hotspur           39
17      West Bromwich Albion           39
18           West Ham United           39
19   Wolverhampton Wanderers           39